<div class="menu-container">
    <div class="menu">
        <p-card>
            <div class="dropdown-container">
                <div class="dropdown-item">
                    <p-dropdown
                        [options]="years"
                        [(ngModel)]="selectedYear"
                        optionLabel="name"
                        placeholder="Year"
                        [showClear]="true"
                        [checkmark]="true"
                        (onChange)="onYearChange()"
                    />
                </div>
                <div class="dropdown-item">
                    <p-dropdown
                        [options]="months"
                        [(ngModel)]="selectedMonth"
                        optionLabel="name"
                        placeholder="Month"
                        [showClear]="true"
                        [checkmark]="true"
                        [disabled]="selectedYear === undefined"
                        (onChange)="onMonthChange()"
                    />
                </div>
            </div>
        </p-card>
    </div>
</div>
